<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFiles - <%= fileName %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <label for="krakenLink">Get krakenfiles file without the ads.</label>
        <h2 style="opacity: 0.75;"><%= fileName %></h2>
        <iframe id="krakenIframe" width="100%" height="100px" frameborder="0" scrolling="no"></iframe>
        <form id="dl-form" action="/download/<%= id %>" method="POST" style="display: none;">
            <input type="hidden" name="token" id="dl-token" value="<%= token %>"/>
        </form>
        <button id="downloadButton">Download</button>
        <div id="shareLink" style="display: none;">
            <p><a id="shareLinkUrl" href="#" target="_blank"></a></p>
        </div>
    </div>

    <footer style="text-align: center; opacity: 0; animation: fadeIn 1.5s ease-in-out forwards;">
        <p style="margin: 0; font-size: 1rem; color: #555; transition: color 0.3s ease;">
            Original project &rarr;
            <a href="https://github.com/b9natwo/KFiles" 
               style="color: #444; text-decoration: none; font-weight: bold; position: relative; display: inline-block; transition: color 0.3s ease;"
               onmouseover="this.style.color='#000';"
               onmouseout="this.style.color='#444';">
                b9na 🎸
                <span class="underline" style="position: absolute; bottom: -2px; left: 0; height: 2px; width: 100%; background: #444; transform: scaleX(0); transform-origin: bottom right; transition: transform 0.3s ease;"></span>
            </a>
        </p>

    </footer>
    <script src="/script.js"></script>
    <script>
        const id = "<%= id %>";
        document.getElementById('krakenIframe').src = `https://krakenfiles.com/embed-audio/${id}?autoplay=false&link=true`;
        document.getElementById('dl-form').action = `https://krakenfiles.com/download/${id}`;

        document.getElementById('downloadButton').addEventListener('click', function() {
            submitForm();
        });

        function submitForm() {
            const form = document.getElementById('dl-form');
            const formData = new FormData(form);

            fetch(form.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.url) {
                    const link = document.createElement('a');
                    link.href = data.url;
                    link.download = '';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);

                    document.getElementById('shareLinkUrl').href = data.url;
                    document.getElementById('shareLinkUrl').textContent = data.url;
                    document.getElementById('shareLink').style.display = 'block';
                } else {
                    alert('Error retrieving download URL');
                }
            })
            .catch(error => {
                console.error('Error sending the download request:', error);
                alert('Error sending the download request');
            });
        }
    </script>
</body>
</html>